USE [master]
GO
/****** Object:  Database [ticket_management_system]    Script Date: 4/11/2025 5:07:58 PM ******/
CREATE DATABASE [ticket_management_system]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ticket_management_system', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ticket_management_system.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ticket_management_system_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ticket_management_system_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ticket_management_system].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ticket_management_system]
GO
/****** Object:  Table [dbo].[DESTINATIONS]    Script Date: 4/11/2025 5:07:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESTINATIONS](
	[DID] [int] NOT NULL,
	[NAME] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKETS]    Script Date: 4/11/2025 5:07:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKETS](
	[TID] [int] NULL,
	[DID] [int] NULL,
	[COST] [decimal](18, 0) NULL,
	[FROM] [text] NULL,
	[TIME] [datetime] NULL,
	[STATUS] [bit] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TICKETS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TicketDetails]    Script Date: 4/11/2025 5:07:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TicketDetails] AS
SELECT 
    t.ID AS TicketID,
    t.[FROM] AS FromLocation,
    d.NAME AS ToLocation,
    t.COST AS TicketCost,
    t.TIME AS DepartureTime,
    t.STATUS AS TicketStatus
FROM 
    TICKETS t
LEFT JOIN 
    DESTINATIONS d ON t.DID = d.DID;
GO
/****** Object:  Table [dbo].[TERMINALS]    Script Date: 4/11/2025 5:07:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERMINALS](
	[TID] [int] NOT NULL,
	[CODE] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DESTINATIONS] ([DID], [NAME]) VALUES (1, N'Lotte Mart')
INSERT [dbo].[DESTINATIONS] ([DID], [NAME]) VALUES (2, N'Ton Duc Thang University')
INSERT [dbo].[DESTINATIONS] ([DID], [NAME]) VALUES (3, N'Benh Thanh Market')
GO
INSERT [dbo].[TERMINALS] ([TID], [CODE]) VALUES (1, 1)
INSERT [dbo].[TERMINALS] ([TID], [CODE]) VALUES (2, 2)
INSERT [dbo].[TERMINALS] ([TID], [CODE]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[TICKETS] ON 

INSERT [dbo].[TICKETS] ([TID], [DID], [COST], [FROM], [TIME], [STATUS], [ID]) VALUES (1, 4, CAST(20 AS Decimal(18, 0)), N'Turtle Lake, District 3', CAST(N'2025-04-11T15:04:13.827' AS DateTime), 1, 1)
INSERT [dbo].[TICKETS] ([TID], [DID], [COST], [FROM], [TIME], [STATUS], [ID]) VALUES (1, 5, CAST(20 AS Decimal(18, 0)), N'Turtle Lake, District 3', CAST(N'2025-04-11T15:05:11.683' AS DateTime), 1, 2)
INSERT [dbo].[TICKETS] ([TID], [DID], [COST], [FROM], [TIME], [STATUS], [ID]) VALUES (1, 5, CAST(20 AS Decimal(18, 0)), N'Turtle Lake, District 3', CAST(N'2025-04-11T15:17:33.860' AS DateTime), 1, 3)
SET IDENTITY_INSERT [dbo].[TICKETS] OFF
GO
/****** Object:  Index [PK_DESTINATIONS]    Script Date: 4/11/2025 5:07:59 PM ******/
ALTER TABLE [dbo].[DESTINATIONS] ADD  CONSTRAINT [PK_DESTINATIONS] PRIMARY KEY NONCLUSTERED 
(
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK_TERMINALS]    Script Date: 4/11/2025 5:07:59 PM ******/
ALTER TABLE [dbo].[TERMINALS] ADD  CONSTRAINT [PK_TERMINALS] PRIMARY KEY NONCLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_1_FK]    Script Date: 4/11/2025 5:07:59 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_1_FK] ON [dbo].[TICKETS]
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_2_FK]    Script Date: 4/11/2025 5:07:59 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_2_FK] ON [dbo].[TICKETS]
(
	[DID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TICKETS]  WITH CHECK ADD  CONSTRAINT [FK_TICKETS_RELATIONS_DESTINAT] FOREIGN KEY([DID])
REFERENCES [dbo].[DESTINATIONS] ([DID])
GO
ALTER TABLE [dbo].[TICKETS] CHECK CONSTRAINT [FK_TICKETS_RELATIONS_DESTINAT]
GO
ALTER TABLE [dbo].[TICKETS]  WITH CHECK ADD  CONSTRAINT [FK_TICKETS_RELATIONS_TERMINAL] FOREIGN KEY([TID])
REFERENCES [dbo].[TERMINALS] ([TID])
GO
ALTER TABLE [dbo].[TICKETS] CHECK CONSTRAINT [FK_TICKETS_RELATIONS_TERMINAL]
GO
USE [master]
GO
