@{
    ViewBag.Title = "Home Page";
}

<main>
    <h3 class="text-center my-3">Choose the Language to Start</h3>
    <div class="d-flex justify-content-center mb-5">
        <div class="text-center" style="width: 100%; max-width: 300px;">
            <form method="post" action="/Home/SetLanguage">
                <button class="btn btn-dark w-100 my-2" type="submit" name="language" value="vi">Vietnamese</button>
                <button class="btn btn-dark w-100 my-2" type="submit" name="language" value="en">English</button>
            </form>
        </div>
    </div>
</main>